* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.div1 {
    background-color: #C85250;
    height: 100px;
}

.bt1 {
    border-radius: 13px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Especifique a largura desejada */
    height: 50px; /* Especifique a altura desejada */
    margin: auto; /* Adiciona margem automática para centralizar em relação ao pai (body) */
    color: #F7BEC0;
    background-color: #C85250;
}
#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Especifique a largura desejada */
    height: 50px; /* Especifique a altura desejada */
    margin: auto;
    padding-top: 40px;
}

#img1 {
    width: 400px; /* Largura desejada */
    border: 6px solid #78001C;
    border-radius: 15px;
    margin-left: 140px;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #C85250;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #D40032;
}

.teamo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    border: 15px double #78001C;
    border-radius: 20px;
    background-color: #C85250;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px ;
    color: #96ec25;
}

.links {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 650px;
}

td {
    padding: 10px;
    border: 3px solid rgb(13, 97, 13);
}

th {
    padding: 7px;
    border: 2px solid blue;
}

table thead {
    background-color: rgb(180, 180, 255);
}

table tbody {
    background-color: rgb(149, 255, 149);
}

tbody tr:hover {
    background-color:  rgb(180, 180, 255);
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 138);
}